@model IEnumerable<Airport.Data.Model.Station>

@{
    ViewData["Title"] = "GetAllStationsStatus";
}

<h1>Get All Stations Status</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationNumber)
            </td>
        </tr>
}
    </tbody>
</table>
