@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="flex-row">
        <a class="btn btn-sm btn-outline-secondary" asp-action="GetPendingFlightsByAsc" asp-route-isAsc="true">Pending take Off</a>
        <a class="btn btn-sm btn-outline-secondary" asp-action="GetPendingFlightsByAsc" asp-route-isAsc="false">Pending descending-flight</a>

    </div>
</div>
