@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="flex-row">
        <a class="button-29" role="button" asp-action="GetPendingFlightsByAsc" asp-route-isAsc="true">Pending take Off</a>
        <a class="button-29" role="button" asp-action="GetPendingFlightsByAsc" asp-route-isAsc="false">Pending descending-flight</a>
        
    </div>
</div>
